.social-login
    button.social-login__github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login__facebook
        a(href=routes.facebook)
            span
                i.fab.fa-facebook
            |Continue with Facebook
    button.social-login__google
        a(href=routes.google)
            span
                i.fab.fa-google
            |Continue with Google